
a, a.nav--comment{
    outline: none;
    text-decoration: none;
    color: inherit;
    
}

.navigation{
    position: fixed;
    width: 100vw;
    height: 100px;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.navigation--btns{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.navigation--btns--background{
    background-color: #e07a5f;
    width: auto;
    height: 82px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 8px grey;

}



.nav--btn {
    margin: 16px 8px;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 6px 8px black, inset 0 2px 4px grey;
    
    
    transition: all 0.5s ease-in-out;
}

.nav--btn{
    text-decoration: none;
}
.nav--btn:first-child{
    margin-left: 16px;
}
.nav--btn:last-child{
    margin-right: 16px;
}


.nav--btn .nav--comment{
    display: none;
}
.nav--btn:hover .nav--icon{
    display: none;
}
.nav--btn:hover .nav--comment{
    display: inline;
    color: black;
    
    
    
}
.nav--btn:hover{
    width: max-content;
    height: 50px;
    background-color: lightgray;
}

.theme{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 930px){
    .logo{
        display: none;
    }
    .theme{
        display: none;
    }
    .navigation--btns{
        width: 100vw
    }
}