
a, a.nav--comment{
    outline: none;
    text-decoration: none;
    color: inherit;
    
}

.navigation{
    position: fixed;
    width: 100vw;
    height: 100px;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.navigation--btns{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.navigation--btns--background{
    background-color: #5457B8;
    width: auto;
    height: 82px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 8px grey;

}





.theme{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 930px){
    .logo{
        display: none;
    }
    .theme{
        display: none;
    }
    .navigation--btns{
        width: 100vw
    }
}


